---
import Layout from '../layouts/Layout.astro';
import ContentWithImage from '../components/ContentWithImage.astro';
import Contact from '../components/Contact.md';
---

<Layout title="Contact">
  <main>
    <ContentWithImage image="/images/contact.jpg">
      <Contact />
    </ContentWithImage>
  </main>
</Layout>
