---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
  <main>
    <div class="hero min-h-screen bg-cover bg-[url(/images/home.jpg)]" >
      <div class="hero-overlay bg-opacity-30"></div>
      <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
          <h1 class="mb-5 text-white text-5xl font-bold">Introducing Lulu HR Consulting</h1>
          <p class="mb-5 text-white text-2xl">Problem Solving Made Easy</p>
        </div>
      </div>
    </div>
  </main>
</Layout>
