---
import Layout from '../layouts/Layout.astro';
import Services from '../components/Services.md';
---

<Layout title="About">
  <main class="prose lg:prose-xl">
    <Services />
  </main>
</Layout>
