---
import Layout from '../layouts/Layout.astro';
import ContentWithImage from '../components/ContentWithImage.astro';
import Services from '../components/Services.md';
---

<Layout title="About">
  <main>
    <ContentWithImage image="/images/meeting_vertical.jpg">
      <Services />
    </ContentWithImage>
  </main>
</Layout>
