---
export interface Props {
  image: string;
}

const { image } = Astro.props;
---
<div class="card md:card-side shadow-xl">
  <div class="card-body prose md:prose-xl">
    <slot />
  </div>
  <figure><img src={image} alt="Lulu HR"/></figure>
</div>
